</div>
<script src="https://kit.fontawesome.com/db5830674f.js" crossorigin="anonymous"></script>
<div class="footer-padding"></div>
<div class="footer">
  <div class="icons">
    <a class="fa-solid fa-envelope icon" href="mailto:pranaylohe2077@email.com" target="_blank"></a>
    <a class="fa-brands fa-linkedin icon" href="https://www.linkedin.com/in/pranaylohe
      " target="_blank"></a>
    <a class="fa-brands fa-github icon" href="https://github.com/pranay595
      " target="_blank"></a>
    <a class="fa-solid fa-file icon" href="https://pranay595.github.io/mySite/" target="_blank"></a>
  </div>
  <p>Made with ❤️ by Pranay Lohe</p>
</div>
</div>
</body>

</html>